@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: fugaz one, sans-serif;
    font-size: 19px;
    background-color: #1a1a27;
    display:inline-flexbox;
    
}

nav {
    width: 100%;
    background-color:#bbbcbc;
    text-align: center;
}

nav > a {
    padding-left: 20px;
    padding-right: 30px;
    text-decoration: none;
    font-family: catamaran, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #1a1a27;
    border-radius: 8px;
    

}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.719);
    color: red;
}

main {
    text-indent: 2em;
    padding-left: 10px;
    padding-right: 10px;
    font-family: catamaran, sans-serif;
    font-size: 18px;
    max-width: 800px;
    text-align: justify;
    margin: auto;
    margin-top: 30px;
}

main > img {
    width: 100%;
}


footer{
    bottom: 0px;
    width: 100%;
    background-color: #1a1a27;
    font-family: catamaran, sans-serif;
}
.main-content{
    display: flex;
    font-weight: 300;
    color: #bbbcbc;
}
.main-content .box{
    flex-basis: 50%;
    padding: 15px 0px 15px 30px;
}
.box h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.box .content{
    margin: 15px 0 0 0;
}

.box .content .social img{
    width: 10%;
    padding-right: 20px;
    padding-bottom: 30px;
}

.left img{
    width: 40%;
    margin: auto;
    padding-left: 85px;
}

.bottom .center{
    padding: 5px;
    font-size: 15px;
    background:#bbbcbc;
    text-align: center;
}
.bottom .center span{
    color:#1a1a27;
    font-weight:400;
    
}
.bottom .center a{
    color: red;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
    color: red
}
@media screen and (max-width: 900px){
    footer{
    
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}