@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: fugaz one, sans-serif;
    background-image: linear-gradient(to bottom, rgba(107, 154, 199, 0.726) 40%, rgba(255, 255, 255, 0.918) 60%);
    min-height:  100px;
    padding-left: 0px;
    
}


header > div.nome{
    font-size: 65px;
    color: red;
    -webkit-text-stroke-width: 3px;
    -webkit-text-size-adjust: auto;
    -webkit-text-stroke-color: #fff;
    padding-left: 100px;
    letter-spacing: 0px;

    
    
}

header > div.atividade{
    font-size: 30px;
    color: rgb(98, 0, 255);
    padding-left: 160px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-size-adjust: auto;
    -webkit-text-stroke-color: #fff;
    line-height: 1em;
}

header > div.slogan {
    font-family: catamaran, sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-weight:500;
    font-style: italic;
}

nav {
    width: 100%;
    background-color: rgb(98, 0, 255);
    text-align: center;
}

nav > a {
    padding-left: 20px;
    padding-right: 30px;
    text-decoration: none;
    font-family: catamaran, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
    border-radius: 8px;
    

}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.719);
    color: rgb(98, 0, 255);
}

main {
    padding-left: 10px;
    padding-right: 10px;
    font-family: catamaran, sans-serif;
    font-size: 25px;
    max-width: 800px;
    text-align: justify;
    margin: auto;
    margin-top: 30px;
}

main > img {
    width: 100%;
}
/*
footer {
    text-align: center;
    font-family: fugaz one, sans-serif;
    background-image: linear-gradient(to bottom, rgba(107, 154, 199, 0.726) 40%, rgba(255, 255, 255, 0.918) 60%);
    min-height:  100px;
} */


footer{
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(107, 154, 199, 0.726) 40%, rgba(255, 255, 255, 0.918) 60%);
    font-family: fugaz one, sans-serif;
}
.main-content{
    display: flex;
    font-weight: 500;
    color: var(--cor01);
}
.main-content .box{
    flex-basis: 50%;
    padding: 15px 0px 15px 30px;
}
.box h2{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.box .content{
    margin: 15px 0 0 0;
}

.box .content .social img{
    width: 6%;
    padding-right: 35px;
    padding-bottom: 30px;
}

.left .content p{
    text-align:justify;
}

.bottom .center{
    padding: 5px;
    font-size: 15px;
    background: var(--cor01);
    text-align: center;
}
.bottom .center span{
    color: var(--cor05);
    font-weight: bold;
    
}
.bottom .center a{
    color:blue
    font-style: italic;
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
    color: red
}
@media screen and (max-width: 900px){
    footer{
    
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}